

header{
    font-family: Gilgan;
    margin: 30px;
    border-bottom-style: solid;
    border-color: #D62E2B;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo{
    text-align:center;
    width:23%;
    padding:1%;;
}

nav{
    padding:1%;
}

.positionBottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk{
    text-align: right;
    align-items: center;
}

.inline-block{
    display: flex;
    vertical-align:top;   
}

.positionBottom li{
    margin-left: 10px;
}

ul{
    list-style-type: none;
  
}

body{
    background-color: #EBE4D9;
}

h1{
    font-family:Dream Cottage;
    color: #D62E2B;
    text-align: center;
    font-size: 75px;
}

h2{font-family:Dream Cottage;
    color: #D62E2B;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: left;
    padding: 30px;
    
}

h3{
    font-family: Gilgan;
    font-size: 16px;
}

h4{
    font-family: Gilgan;
    font-size: 14px
}

.myWork{
    border-color: #D62E2B;
    border-style: solid;
    margin-top: 100px;
    margin-left: 100px ;
    margin-right: 100px;
    padding: 0px;
}


.container{
    display: grid;
    margin:100px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.column {
    padding: 30px;
}


.flexContainer{
    display: grid;
    margin: 100px;
    grid-template-columns: repeat(3, 1fr);
    
    
}

.gridItem1{
    border-style: solid;
    border-color: #D62E2B;
    margin: 30px;
    padding: 100px;
    text-align: left;
}

.gridItem2{
    border-style: solid;
    border-color: #D62E2B;
    margin: 30px;
    padding: 100px;
}

.gridItem3{
    border-style: solid;
    border-color: #D62E2B;
    margin: 30px;
    padding: 100px;
}

li{
    font-family: Gilgan;
    margin-bottom: 10px;
}


footer{ 
    border-style: solid;
    border-color: #D62E2B;
    margin: 30px;
    padding: 30px;
}

.footer{ 
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}   

.connect{
    font-family:Dream Cottage;
    color: #D62E2B;
    font-size: 55px;

}



.flex {
    display: flex;
    justify-content: center;
}

/* .modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
} */

@media only screen and (max-width: 600){
    .flexContainer{
        margin: 0px 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "gridItem1"
            "gridItem2"
            "gridItem3"
            
            ;
        
        
    }
}